@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Tagesschrift&display=swap');
:root{
    --navyblue:#0A1A2F;
    --bluegelap:#002B5B;
    --Gold: #FFD700;
    --gray:#2E2E2E;
    --Birucerah:#00A8E8;
    --graymuda:#F2F2F2;
    --margin:7.5rem;
    --padding:0 1.8rem;
    --fontjudul:'Bodoni Moda';

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
html{
    font-size:62.5%;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* NAVIGASI */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
    height: 12rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

nav img{
    color: white;
    width: 14rem;
    object-fit: cover;
    margin-left: 5rem;
}
nav h1{
    font-family: 'Playfair Display' ;
    font-weight: 800;
    color: white;
}

nav ul{
    display: flex;
    gap :2.5rem;
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family:  'Lato' ;
    font-weight: 600;
    font-size: 1.8rem;
}

nav.scrolled{
    background-color: var(--navyblue);
}

/* HALAMAN UTAA HOME */
main{
   
   padding: 0; 
}
.home{
    
    width: 100%;
  height: 100vh; /* Tinggi = 1 layar full */
  background-image: url('img/home3.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.home .welcome{
    color: white;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);

}
.home .booking{
    display: flex;
    justify-content: space-between;
    

}
.booking button{
    background-color: var(--navyblue);
    color: white;
    padding: 1.5rem 4.2rem;
    border-radius: 1.5rem;
    border: none;
    margin: 0 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-weight: 600;
}
/* ABOUT */
.about{
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about h1{
    text-align: center;
    font-family: var(--fontjudul);
    font-size: 3.5rem;
    color: var(--gray);
    
}
.about p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    width: 80%;
}
/* FASILITAS */
.fasilitas{
   
    padding: 3rem 0;
    text-align: center;
    background-color: #F2F2F2;
}
.fasilitas .box{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     margin-top: 4rem;
     margin-bottom: 3rem;

}
.fasilitas h1{
    font-size: 3.5rem;
    font-family: 'Lato';
    font-weight: 700;
}
.box div{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 0.5rem 1.2rem;
}
.box div i{
    font-size: 6rem;
    margin-bottom: 1rem;
}
/* ROOM */
.room {
    position: relative;
    overflow: hidden; /* memotong bagian slider yang keluar */
    width: 100%;  
         /* pastikan container sesuai layar */
         margin: 4rem 0.6rem;
}

section {
  scroll-margin-top: 100px; /* sesuaikan tinggi navbar */
}

.line-judul-room{
    position: relative;
    text-align: center; 
    
}
.line-judul-room h1{
    font-size: 3.5rem;
    font-family: "Bodoni Moda";
    color: var(--gray);
}
.line-judul-room::after,
.line-judul-room::before{
    content: "";
    position: absolute;
    width: 40rem;
    top: 50%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--gray));
}
.line-judul-room::before{
    right: 100%;
    margin-right: 1.5rem;
    
}
.line-judul-room::after{
     background: linear-gradient(to left, transparent, var(--gray));
    left: 100%;
    margin-left: 1.5rem;
}
.line-judul .font-room{
    font-family: "Bodoni Moda";
     font-size: 3.5rem;
}
    

.img-room{
    display: flex;
    position: relative;
}
.room .img img{
    width: 50rem;
    height: 30rem;
    object-fit: cover;
    transition: transform .2s ease-in-out;
    
   
    
}
.room .img{
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition: transform .45s ease-in-out;
}
.room .img::after{
    content: '';
    position: absolute;
    background:linear-gradient(180deg, transparent 10%, rgba(0, 0, 0, 0.53));
    inset: 0;
    opacity: 0;
    z-index: 1;
    transform: scale(1);
    
}
.room .img:hover::after{
    opacity: 1;
    transform: scale(1.1);
}
.room .img:hover img{
    transform: scale(1.1);
    
}

.container-img{
     transition: transform 0.5s ease-in-out;
     display: flex;

}
.room .img{
    position: relative;
    
}
.room .img h3{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6); 
    font-family: var(--fontjudul);
    z-index: 2;
}
.room .img button{
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    font-weight: 700;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.room .img .view{
    position: absolute;
    top: 85%;
    left: 50%;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding-bottom: 1rem;
    opacity: 0;
    cursor: pointer;
    text-underline-offset: 4px;
   
}
.room .img:hover .view{
    opacity: 1;
    

}

.room .img .view:hover{
    text-decoration: underline white ;    
}
.img-room button{
    padding: 1.1rem 2rem;
    background: transparent;
    border: 1px solid #c39f2a;
    color: white;
    font-size: 1.6rem;
    position: relative;
     cursor: pointer;
     z-index: 2;
     overflow: hidden;
   
    
}
.img-room button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    transform: translate(-50%,-50%);
    background-color:#c39f2a ;
    transition: width .5s ease;
    z-index: -1;
    height: 100%;
    
    
}
.img-room button:hover::before{
    width: 110%;
}

.next{
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 4.5rem;
    cursor: pointer;
    background-color: #f2f2f2c7;
    height: 100%;
    z-index: 5;
}
.prev{
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 4.5rem;
    cursor: pointer;
    background-color: #f2f2f2c7;
    height: 100%;
    z-index: 5;
}

.left-panel{
 
    display: grid;
  grid-template-columns: repeat(4, 150px); /* 4 kolom, masing-masing 1 fr */
    grid-template-rows: repeat(3, 150px);    /* 3 baris, tinggi fleksibel */
    gap: 1rem;
    padding: 1rem;
     
   

    grid-template-areas: 
        "box-1 box-4 box-4 box-4"
        "box-3 box-4 box-4 box-4"
        "box-3 box-5 box-5 box-6";
}   
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* biar gambar memenuhi kotak tanpa merusak proporsi */
    display: block;
    
}


.grid-container{
    display: flex;
  justify-content: space-between;
    align-items: center;
   
}

.grid-container .right-panel p{
    font-size: 2rem;
    text-align: center;
    padding-top: 1.2rem;
    width: 50%;
    line-height: 2.8rem;
}
.grid-container .right-panel h2{
    font-size: 3.8rem;
    padding-bottom: 1.6rem;
}

.item{
     position: relative;
     overflow: hidden;
}
.item::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -20%;
    background: linear-gradient(180deg,transparent 20%, rgba(255, 255, 255, 0.438));
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}
.item:hover.item::before{
    opacity: 1;
    
}

/* FONT ITEM */
.item h2{
    position: absolute;
    bottom: 10%;
    left: 8%;
    color: white;
    opacity: 0;
    transition:opacity 0.3s ease-in-out ;
    z-index: 2;
    font-weight: 600    ;
}
.item:hover h2{
    opacity: 1;
     text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.item-4 {
    font-size: 2rem;
    z-index: 2;
}
.grid-container .right-panel{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.flex{
    gap: 1.8rem;
    display: flex;
    margin-top: 2rem;
}
.contact{
    font-size: 1.6rem;
}
.contact i{
    font-size: 2rem;
}

/* ULASAN */
.swiper.mySwiper{
    position: relative;
    height: 100%;
}
.rate{
   
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
   margin: 3.5rem 0;
    background-color: var(--graymuda);
    padding: 3rem 0;
    position: relative;
    
    
    
}
.isi h4{
    font-size: 1.2rem;
}
.pesan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 50rem;
    height: 20rem;
    padding: 1.8rem 1rem;
    background-color: white;
   
}
.rating{
    display: flex;
    gap: 0.8rem;
    margin-top: 0.4rem;
}
.rating .poin{
    font-weight: 600;
}
.message{
    width: 100%;
    padding: 0.4rem 0 1.2rem 0;
}
.like{
    gap: 1.2rem;
    font-weight: 600;
    display: flex;
}
.like .btn{
    font-size: 1.2rem;
    cursor: pointer;
}



.swiper-button-next,
.swiper-button-prev{
     color: white !important;
    background-color:var(--gray);
    padding: 1rem;
    border-radius: 1.2rem;
    position: absolute;
    top:65% !important;
}
.swiper-button-next{
    right: 0;
    margin-right: 0.8rem;
}

/* ABOUT */
.contain-about{
    background-color: var(--gray);
    width: 100%;
    height: 25rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
}
.about-hotel{
    display: flex ;
    gap: 8rem;
    padding: 4rem 5rem 3rem 0;
    line-height: 2rem;
    justify-content: space-between;
}
.about-hotel ul{
    list-style: none;
}
.about-hotel ul li{
    font-size: 1.2rem;
}
.about-hotel h2{
    font-size: 1.8rem;
    padding-bottom: 1.2rem;
}
/* Hotel */
.about-hotel .hotel{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
     padding-right: 8rem;
}
.about-hotel .hotel p{
    width: 60%;
   
}
.about-hotel .hotel h2{
    font-size: 2rem;
    padding-right: 12rem;
}
/* ABOUT --- SOSIAL MEDIA */
.sosial-media{
    padding: 1.6rem 0;
    font-size: 2rem;
    gap: 0.8rem;
}
.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.line-judul{
    position: relative;
    text-align: center; 
    
}
.line-judul::after,
.line-judul::before{
    content: "";
    position: absolute;
    width: 30rem;
    top: 50%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    
}
.line-judul::before{
    right: 100%;
    margin-right: 1.5rem;
    
}
.line-judul::after{
    left: 100%;
    margin-left: 1.5rem;
}
.bungkus-patokan{
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}







